In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("data/blr_pm25.csv", usecols = ['date', 'pm25'])
df.head()

       date  pm25
0  2021/5/1   143
1  2021/5/2   117
2  2021/5/3   100
3  2021/5/4   113
4  2021/5/5   120

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2391 entries, 0 to 2390
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2391 non-null   object
 1   pm25    2391 non-null   object
dtypes: object(2)
memory usage: 37.5+ KB

In [5]:
cnt = 0
for i in range(df.shape[0]):
    if df["pm25"][i] == " ":
        cnt += 1        
print(cnt)

383

In [6]:
#Data cleaning
def remove_space(x):
    if x == " ":
        x = np.NaN
    else:
        x =  x.strip()
    return x
df['pm25'] = df['pm25'].apply(remove_space)
df['pm25'] = df['pm25'].astype(float)

In [7]:
#Getting dates in datetime format
df['date'] = df['date'].astype('datetime64[ns]')

In [8]:
sorted_df = df.sort_values(by = "date")
sorted_df.reset_index(drop = True, inplace = True)

In [9]:
sorted_df

           date   pm25
0    2013-12-31    NaN
1    2014-01-01    NaN
2    2014-01-02    NaN
3    2014-01-03    NaN
4    2014-01-04    NaN
...         ...    ...
2386 2021-05-11  104.0
2387 2021-05-12   87.0
2388 2021-05-13   66.0
2389 2021-05-14   62.0
2390 2021-05-15   54.0

[2391 rows x 2 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2391 entries, 0 to 2390
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    2391 non-null   datetime64[ns]
 1   pm25    2008 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 37.5 KB

In [11]:
#Stores all dates whose data is not there
non_date = list(pd.date_range(start = '2013-12-31', end = '2021-05-15' ).difference(sorted_df["date"]))
for i in range(len(non_date)):
    non_date[i] = (non_date[i].to_pydatetime().date())

In [12]:
len(non_date)

302

In [13]:
for i in non_date:
    if(i):
        sorted_df.loc[len(sorted_df)] = [i, np.NaN]

In [14]:
sorted_df

                     date  pm25
0     2013-12-31 00:00:00   NaN
1     2014-01-01 00:00:00   NaN
2     2014-01-02 00:00:00   NaN
3     2014-01-03 00:00:00   NaN
4     2014-01-04 00:00:00   NaN
...                   ...   ...
2688           2020-03-30   NaN
2689           2020-05-03   NaN
2690           2020-05-04   NaN
2691           2020-05-08   NaN
2692           2020-05-09   NaN

[2693 rows x 2 columns]

In [15]:
sorted_df['date'] = pd.to_datetime(sorted_df['date']).dt.date

In [16]:
sorted_df

            date  pm25
0     2013-12-31   NaN
1     2014-01-01   NaN
2     2014-01-02   NaN
3     2014-01-03   NaN
4     2014-01-04   NaN
...          ...   ...
2688  2020-03-30   NaN
2689  2020-05-03   NaN
2690  2020-05-04   NaN
2691  2020-05-08   NaN
2692  2020-05-09   NaN

[2693 rows x 2 columns]

In [17]:
sorted_df = sorted_df.sort_values(by = "date")
sorted_df.reset_index(drop = True, inplace = True)

In [18]:
sorted_df.tail(30)

            date   pm25
2663  2021-04-16   93.0
2664  2021-04-17  111.0
2665  2021-04-18  143.0
2666  2021-04-19  134.0
2667  2021-04-20  147.0
2668  2021-04-21  151.0
2669  2021-04-22  125.0
2670  2021-04-23   97.0
2671  2021-04-24   86.0
2672  2021-04-25  103.0
2673  2021-04-26  130.0
2674  2021-04-27  128.0
2675  2021-04-28  131.0
2676  2021-04-29  140.0
2677  2021-04-30  135.0
2678  2021-05-01  143.0
2679  2021-05-02  117.0
2680  2021-05-03  100.0
2681  2021-05-04  113.0
2682  2021-05-05  120.0
2683  2021-05-06  111.0
2684  2021-05-07  102.0
2685  2021-05-08   94.0
2686  2021-05-09   82.0
2687  2021-05-10   91.0
2688  2021-05-11  104.0
2689  2021-05-12   87.0
2690  2021-05-13   66.0
2691  2021-05-14   62.0
2692  2021-05-15   54.0

In [19]:
#checking if any date is still missing in the dataframe column
list(pd.date_range(start = '2013-12-31', end = '2021-05-15' ).difference(sorted_df["date"]))

[]

In [20]:
#Renaming column to PM2.5
sorted_df.rename(columns = {'pm25':'PM2.5'}, inplace = True)

In [21]:
year_range = [2015, 2016, 2017, 2018, 2019, 2020]
for year in year_range:
    startdate = pd.to_datetime(str(year)+"-1-1").date()
    enddate = pd.to_datetime(str(year+1)+"-1-1").date()
    sorted_df[(sorted_df["date"]<enddate) & (sorted_df["date"] >= startdate)].to_csv("data/AQI/aqi"+str(year)+".csv", index = False)

In [24]:
#To extract latest data
startdate = pd.to_datetime("2021-4-16").date()
enddate = pd.to_datetime("2021-5-16").date()
sorted_df[(sorted_df["date"]<enddate) & (sorted_df["date"] >= startdate)].to_csv("data/AQI/recent.csv", index = False)